{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<h3 style="text-align: center;">All Customers</h3>
<br>
{% for customer in customers %}
<div class="card border-info mb-3" style="width: 18rem;">
    <div class="card-header" style="font-size:1.5em;">
      Customer #{{customer.customer_id}}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Name: {{customer.name}} </li>
      <li class="list-group-item">Phone Number: {{customer.phone}} </li>
      <li class="list-group-item">Email Address: {{customer.email}} </li>
    </ul>
    <a href="{% url 'customer' customer.pk %}" class="btn btn-info">Customer's information</a>
  </div>
  
{% endfor %}
</div>
{% endblock content %}