{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<h3 style="text-align: center;">Customer's Information Page</h3>
<br>
<br>

<div class="card text-center">
    <div class="card-header" style="font-size:1.5em;">
      Customer # {{customer.customer_id}}
    </div>
    <div class="card-body">
      <h5 class="card-title">Name: {{customer.name}}</h5>
      <h5 class="card-title">phone number: {{customer.phone}}</h5>
      <h5 class="card-title">Email Address: {{customer.email}}</h5>
      <h5 class="card-text">Address: {{customer.address}}</h5>

    </div>
    <div class="card-footer text-muted">
      Status:  {{customer.block_state|yesno:"Blocked,Active"}}
    </div>
  </div>
<hr>

<h3 style="text-align: center;">Customer's Invoices</h3>
{% for invoice in invoices%}
  <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header"><h4>Invoice # {{invoice.invoice_id}}</h4></div>
    <div class="card-body">
      <h6 class="card-title">Shipped to: {{invoice.shipping_address}}</h6>
      <h6 class="card-title">Ordered on: {{invoice.created_at}}</h6>
      <div class="card-footer bg-transparent border-warning">
        <a href="{% url 'invoice' invoice.pk %}" class="btn btn-warning" style="justify-content: center;">Invoice Details</a>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock content %}

