{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<h3 style="text-align: center;">Create New Invoice</h3>
<br>
<br>
   
            <div class="border p-4 mb-5 mt-3" >
              
                <form method="POST" enctype="multipart/form-data" >
                    {%csrf_token%}
                    {{invoice_form.as_p}}
                    <br>
                

                    <button type="submit" class="btn btn-success" style="margin-left: 40%;">Create Invoice</button>
                </form>
            </div>
            {%endblock%}