{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<h3 style="text-align: center;">Invoice Information Page</h3>
<br>
<br>

<div class="card text-white bg-dark text-center">
    <div class="card-header" style="font-size:1.5em;">
      Invoice # {{invoice.invoice_id}}
    </div>
    <div class="card-body">
      <h5 class="card-title">Shipped to: {{invoice.shipping_address}}</h5>
      <h5 class="card-title">Ordered on: {{invoice.created_at}}</h5>
      <h5 class="card-title">Ordered by: {{invoice.customer}}</h5>
    </div>

</div>
<hr>

<div class="card-footer bg-transparent border-warning">
    <a href="{% url 'pdf'%}" class="btn btn-danger" style="justify-content: center;">Print Invoice</a>
  </div>
{% endblock content %}