{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<h3 style="text-align: center;">All Products</h3>
<br>

<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/product.png' %}" width="200" height="200">
        <br>
        <br>
        <div class="box-element product">
            <h5><strong>{{product.name}}</strong></h5>
            <hr>
            <a class="btn btn-outline-info" href="#">Product details</a>
            <h4 style="display: inline-block;"><strong>${{product.price| floatformat:2}}</strong></h4>

        </div>
    </div>
 
    {% endfor %}
  
</div>

{% endblock content %}


