{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container border p-4 mb-5 mt-3" style="text-align: center; background-color: lightgrey;" >
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  
  <input type="hidden" name="{{ redirect_field_name }}" value="{% url 'products' %}" />

  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>
{% endblock %}
